/*
body {
  margin: 0;
  font-family: 'Droid Serif', serif;
  background-color: #f4f4f4;
}

a {
  color: #000;
}
*/


/* header */

.header {
  background-color: #3D2F59;
/*  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);*/
  position: fixed;
  width: 100%;
  z-index: 3;

   
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
width: 80%;

}
.header ul li {
 border-radius: 25px;
    border: 2px solid #aeb0b2;
    margin: 2%;
    width: 20%;
    float: right;
}
.header li a {
  display: block;
    text-align: center;

  text-decoration: none;
    color: #aeb0b2;
}

.header li a:hover,
.header .menu-btn:hover {
     border-radius: 21px;
  background-color: rgba(255,255,255, 0.3);
}

.header .logo {
/*
    display: block;
  text-decoration: none;
*/


float: left;
    width: 20%;
  padding-top: 5px;
    padding-bottom: 5px;
    
}

.header .logo img {
/*    float: left;*/
    width: 100%;


/*
    
*/
    height: 100%;
}
/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  

}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 30px 30px;
  position: relative;
  user-select: none;

}

.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
     
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
  
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
     
  display: none;
}

.header .menu-btn:checked ~ .menu {
/*  max-height: 240px;*/
    
    max-height: 50%;

    width: 100%;
    
}

/*Hannah added*/
.header .menu-btn:checked ~ ul li{

    
  width: 90%;
    margin: 1%;
  float: left;
  
}
.header .menu-btn:checked ~ ul li a{
  padding-bottom: 2%;
    padding-top: 2%;
}


.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 1050px) {
    
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}


/* section */

/*
.section {
  overflow: hidden;
  margin: auto;
  max-width: 1400px;
}

.section a {
  position: relative;
  float: left;
  width: 100%;
}

.section a img {
  width: 100%;
  display: block;
}

.section a span {
  color: #fff;
  position: absolute;
  left: 5%;
  bottom: 5%;
  font-size: 2em;
  text-shadow: 1px 1px 0 #000;
}

.section-split a span {
  display: none;
}

.section-split a:hover span {
  display: block;
}
*/


/* 48em = 768px */

@media (min-width: 48em) {
  .section-split a {
    width: 50%;
  }
}